<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Paper Mario TTYD Builder</title>
  <link rel="stylesheet" href="css/Background.css">
</head>

<body>
  <header>
    <a href="/"></href><img id="titleCard" src="/img/paperMarioTitle.png" alt="PM title Image"></a>
    <a href="/"></href><img src="/img/logo.png" alt="Crystal Star"></a>
  </header>
  <div class="tab">
    <button id="marioTab" class="tablinks" onclick="window.location.href = '/';">Mario Abilities</button>
    <button id="partnerTab" class="tablinks" onclick="window.location.href = '/Partners';">Partner Abilities</button>
    <button id="enemyTab" class="tablinks" onclick="window.location.href = '/Enemies';">Enemies</button>
    <button id="aboutTab" class="tablinks" onclick="window.location.href = '/About';">About</button>
  </div>
  {{{body}}}
</body>

</html>