<head>
	<link rel="stylesheet" href="css/About.css">
</head>

<body>
	<audio autoplay loop>
		<source src="/audio/aboutMusic.mp3" type="audio/mpeg">
	</audio>
	<div id="aboutBody">
		<div id="infoDiv">
			<div id="infoDivText">
				<p class="myHeader">-About-</p>
				<p>This is a fansite for 'Paper Mario and The Thousand Year Door'. There are several pages with useful
					information and features which you can use. Each page also features music, so make sure to enable autoplay in your browser if you wish to hear it.</p>
				<p class="myHeader">-Mario Abilities-</p>
				<p>On the Mario Abilities page, you can plan how to level up Mario in the game. This page allows you to
					level up and equip badges which can help you plan your playthrough. You can also save and load your
					build using the Save and Load buttons. Upon saving a build, you will need to copy the text in the
					box above and save it for later. To load a build, paste previously saved text into the box and
					select Load.</p>
				<p class="myHeader">-Partner Abilities-</p>
				<p>On the Partner Abilities page, you can view information about all the party members in the game. They
					will start at the lowest level, but if you select the Super or Ultra Rank buttons this will level
					them up and allow you to see their higher ranked abilities.</p>
				<p class="myHeader">-Enemies-</p>
				<p>On the Enemies page, you can view information about all of the enemies in the game. Selecting different enemies will show information about them including their Journal entry and Goombella's in-battle Tattle dialog. You can also use the filters to view enemies in specific orders.</p>
				<img id='frankley' src="/img/frankley.png">
				<span id='signature'>-Professor Frankley</span>
			</div>
		</div>
	</div>
</body>